.container {
  width: 100%;
  height: 4rem;
  border: solid white 0.1rem;
  color: white;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

a:link.sidebar-item {
  text-decoration: none;
}

a.sidebar-item {
  color: greenyellow;
}

a.sidebar-item.active {
  color: red;
}
