// All fonts imported here
@font-face {
  font-family: michroma;
  src: url(./assets/fonts/michroma.woff) format("woff");
}

* {
  box-sizing: border-box
}

html, body {
  background-color: lightblue;
  height: 100%;
  width: 100%;
  margin:0;
  padding: 0;
  font-family: michroma, sans-serif;
}
